body {
  text-align: center;
  background-color: #000000;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family:cursive;
}



.set {
  margin: 10% auto;
}

.A {
  background-image: url(tom1.png);
}
.B {
  background-image: url(./tom2.png);
}
.C {
  background-image: url(./tom3.png);
}
.D {
  background-image: url(./tom4.png);
}
.E {
  background-image: url(./snare.png);
}
.F{
  background-image: url(./crash.png);
}
.G {
  background-image: url(./kick.png);
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #ffffff;
  font-size: 5rem;
  color: #da0463;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
